.menue-div{
    position: relative;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-div{
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button-list{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
}

.btn-outline-primary{
    margin-bottom: 20px;
}

.header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10vh;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: rgba(13, 110, 253);
}

.headerBtn{
    font-size: 40px;
    border: none;
    background-color: transparent;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 50px;
  }
  
  .menu-div {
    text-align: center;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);;
  }
  
  .button-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  .menu-link {
    text-decoration: none;
  }
  
  .btn-menu {
    padding: 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .btn-menu:hover {
    background-color: #0056b3;
  }

  .logo-size {
    max-width: 80px;
    max-height: 80px;
  }

.background-image {
  background-image: url('./img/home_bg.jpg');
  background-size: cover; 
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.btn-outline-dark {
  color:black;
}

  